# Logs
tauriAppDemo/logs
tauriAppDemo/*.log
tauriAppDemo/npm-debug.log*
tauriAppDemo/yarn-debug.log*
tauriAppDemo/yarn-error.log*
tauriAppDemo/pnpm-debug.log*
tauriAppDemo/lerna-debug.log*

tauriAppDemo/node_modules
tauriAppDemo/dist
tauriAppDemo/dist-ssr
tauriAppDemo/*.local

# Editor directories and files
tauriAppDemo/.vscode/*
tauriAppDemo/!.vscode/extensions.json
tauriAppDemo/.idea
tauriAppDemo/.DS_Store
tauriAppDemo/*.suo
tauriAppDemo/*.ntvs*
tauriAppDemo/*.njsproj
tauriAppDemo/*.sln
tauriAppDemo/*.sw?
